/* Mixins, keyframes, etc. */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotateWord {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  5% {
    opacity: 1;
    transform: translateY(0%); }
  21% {
    opacity: 1;
    transform: translateY(0%); }
  24% {
    opacity: 0; }
  26% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 0; } }

@keyframes rotateWord2 {
  0% {
    opacity: 0;
    transform: translateY(140%); }
  5% {
    opacity: 1;
    transform: translateY(40%); }
  21% {
    opacity: 1;
    transform: translateY(40%); }
  24% {
    opacity: 0; }
  26% {
    opacity: 0;
    transform: translateY(-40%); }
  100% {
    opacity: 0; } }

@keyframes bounce {
  0% {
    transform: translateY(0%); }
  2% {
    transform: translateY(130%); }
  4% {
    transform: translateY(0%); }
  6% {
    transform: translateY(130%); }
  8% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  outline-width: 0 !important;
  position: relative;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body, html {
  border: none;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: #000000; }

li {
  list-style: none; }

._3-col {
  width: 32%;
  display: inline-block; }

.screen {
  height: 100%;
  position: relative; }

.section-sep {
  position: absolute;
  top: 40rem;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  background-image: url("../resources/img/forest.png");
  background-size: contain;
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 4s; }
  .section-sep i {
    display: block;
    margin: auto;
    margin-top: -3rem;
    text-align: center;
    width: 10rem;
    font-size: 10rem;
    line-height: 1rem;
    color: #8c8c8c;
    animation: 10s bounce 5s linear infinite;
    transition: margin-top 0.3s;
    cursor: pointer; }
    .section-sep i:hover {
      margin-top: -2rem; }

header {
  padding-top: 3rem;
  width: 100%;
  background-color: #ffffff;
  /* Follow text hover */ }
  @media (max-width: 1100px) {
    header div.column-second {
      display: none; }
    header div.wrapper-table div.column-first {
      text-align: center !important;
      width: 100% !important; } }
  header span.follow-text {
    color: #000000;
    position: absolute;
    height: 100%;
    top: 0;
    left: 2rem;
    z-index: 1000;
    opacity: 0;
    line-height: 9.3rem;
    transition: opacity 0.5s; }
  header div.wrapper-table {
    font-size: 0;
    /* to fix weird white space between inline-block children */
    /* Follow links */
    /* Word/phrase rotation lists */
    /* Main content */ }
    header div.wrapper-table a.follow {
      display: inline-block;
      width: 100%; }
      header div.wrapper-table a.follow:hover {
        background-color: #ededed; }
        header div.wrapper-table a.follow:hover span.main {
          opacity: 0; }
          header div.wrapper-table a.follow:hover span.main span {
            opacity: 0 !important; }
        header div.wrapper-table a.follow:hover span.follow-text {
          opacity: 1; }
    header div.wrapper-table div.column-second ul {
      display: inline-block;
      font-size: 0; }
      header div.wrapper-table div.column-second ul li {
        opacity: 0;
        position: absolute;
        bottom: -0.6rem;
        line-height: 4.3rem;
        font-size: 4.3rem; }
    header div.wrapper-table div {
      position: relative;
      opacity: 0;
      padding: 2rem;
      text-transform: uppercase; }
      header div.wrapper-table div.column-first {
        color: #000000;
        float: left;
        clear: left;
        width: 40%;
        font-size: 5rem;
        font-family: 'Questrial', sans-serif;
        text-align: right;
        letter-spacing: 1rem; }
      header div.wrapper-table div.column-second {
        color: #8c8c8c;
        float: right;
        clear: right;
        width: 60%;
        font-family: 'Questrial', sans-serif;
        font-size: 4.3rem;
        line-height: 5rem;
        text-align: left; }
        header div.wrapper-table div.column-second span.main {
          transition: opacity 0.5s; }
      header div.wrapper-table div.row-third.column-second ul {
        width: 100%;
        display: table; }
        header div.wrapper-table div.row-third.column-second ul li {
          display: table;
          top: 0.7rem;
          font-size: 2rem;
          line-height: 2rem; }
          header div.wrapper-table div.row-third.column-second ul li span {
            height: 4rem;
            display: table-cell;
            vertical-align: middle;
            transition: opacity 0.5s; }

/* Animations */
header div.wrapper-table {
  /* Animation vals */
  /* base delay for appearance animation */
  /* duration of fade in for col1 text */
  /* duration of fade in for col2 text */
  /* time between end of col1 text fadein and beginning of col2 fade in */
  /* time between end of col2 fade in and beginning of next col1 fade in */
  /* base delay for rotation animation */
  /* how long each rotated text should be visible */
  /* Base animation properties for fading in*/
  /* Rotating list animation */
  /* Fade in animation */ }
  header div.wrapper-table div {
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }
  header div.wrapper-table div.column-second ul li {
    animation: rotateWord 15s linear infinite 1400ms; }
  header div.wrapper-table div.column-second ul li:nth-child(1) {
    color: #f7df1e; }
  header div.wrapper-table div.column-second ul li:nth-child(2) {
    animation-delay: 4400ms;
    color: #8892be; }
  header div.wrapper-table div.column-second ul li:nth-child(3) {
    animation-delay: 7400ms;
    color: #ffde57; }
  header div.wrapper-table div.column-second ul li:nth-child(4) {
    animation-delay: 10400ms;
    color: #e34c26; }
  header div.wrapper-table div.column-second ul li:nth-child(5) {
    animation-delay: 13400ms;
    color: #1572b6; }
  header div.wrapper-table div.row-third.column-second ul li {
    color: inherit;
    animation-name: rotateWord; }
  header div.wrapper-table div.column-second {
    animation-duration: 0.2s; }
  header div.wrapper-table div.column-first {
    animation-duration: 1s; }
  header div.wrapper-table div.row-first.column-first {
    animation-delay: 300ms; }
  header div.wrapper-table div.row-first.column-second {
    animation-delay: 1000ms; }
  header div.wrapper-table div.row-second.column-first {
    animation-delay: 2200ms; }
  header div.wrapper-table div.row-second.column-second {
    animation-delay: 2900ms; }
  header div.wrapper-table div.row-third.column-first {
    animation-delay: 4100ms; }
  header div.wrapper-table div.row-third.column-second {
    animation-delay: 4800ms; }

section {
  display: block;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 10rem; }

.section-title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 6rem;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.4rem; }

.section-content {
  width: 80%;
  margin-left: 10%;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif; }
  .section-content .content {
    white-space: pre-wrap; }

.section-sep.second {
  position: relative;
  top: 0;
  height: 20rem;
  width: 100%;
  background-image: url("../resources/img/leaves.jpg");
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  display: block;
  animation: none; }
  .section-sep.second.third {
    background-image: url("../resources/img/trunk.jpeg"); }
    .section-sep.second.third:before {
      background-color: rgba(52, 191, 73, 0.3); }
  .section-sep.second:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(59, 96, 228, 0.3); }

#about-me {
  background-color: #9DC5DD; }
  #about-me .resume-download-wrapper {
    position: absolute;
    top: 2rem;
    left: 2rem;
    min-width: 13rem;
    border: 3px solid black;
    border-radius: 7px;
    overflow: hidden; }
    #about-me .resume-download-wrapper:hover {
      background-color: #000000; }
      #about-me .resume-download-wrapper:hover ul {
        height: 6.5rem;
        padding: 0.3rem 0; }
      #about-me .resume-download-wrapper:hover .resume-download {
        background-color: #404040;
        color: #ffffff;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; }
    #about-me .resume-download-wrapper .resume-download {
      display: inline-block;
      white-space: pre;
      padding: 0.7rem 0;
      width: 13rem;
      text-align: center;
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: 600;
      z-index: 100;
      transition: background-color 0.3s, color 0.3s; }
    #about-me .resume-download-wrapper ul {
      height: 0px;
      background-color: #000000;
      color: #ffffff;
      position: relative;
      border-radius: 5px;
      width: 13rem;
      z-index: 100;
      transition: height 0.3s; }
      #about-me .resume-download-wrapper ul li {
        position: relative;
        transition: background-color 0.5s;
        width: 100%;
        height: 3rem; }
        #about-me .resume-download-wrapper ul li a {
          color: #ffffff;
          position: absolute;
          line-height: 3rem;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0 1rem;
          letter-spacing: 0.1rem;
          font-size: 0.9rem;
          font-weight: 200;
          text-transform: uppercase;
          transition: left 0.3s; }
        #about-me .resume-download-wrapper ul li:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 0;
          background-color: #3B60E4;
          border-radius: 1px;
          transition: width 0.3s; }
        #about-me .resume-download-wrapper ul li:hover {
          background-color: #1a1a1a; }
          #about-me .resume-download-wrapper ul li:hover a {
            left: 1.3rem; }
          #about-me .resume-download-wrapper ul li:hover:before {
            width: 0.8rem; }

#skillsets {
  background-color: #61DDA5;
  text-align: center; }
  #skillsets .section-content {
    width: auto;
    margin: 0; }
  #skillsets .tile {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 3rem;
    width: 25rem; }
    #skillsets .tile > i {
      font-size: 10rem;
      margin-bottom: 3rem; }
    #skillsets .tile .tile-title {
      text-align: center; }
    #skillsets .tile ul {
      display: inline-block;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      text-align: left; }
      #skillsets .tile ul i {
        color: #000000;
        margin-right: 1rem; }
      #skillsets .tile ul li {
        padding: 1rem 0.5rem; }
        #skillsets .tile ul li:hover {
          background-color: #83e4b8; }
          #skillsets .tile ul li:hover i {
            color: inherit; }

#portfolio {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #404040;
  color: #ffffff; }
  #portfolio .tiles-wrapper {
    text-align: center; }
  #portfolio .tile {
    height: 300px;
    width: 300px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
    background-size: cover;
    background-position: top center;
    border-radius: 3px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    color: #ffffff; }
    #portfolio .tile .tile-title {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      z-index: 900;
      font-size: 1.4rem;
      padding: 0.5rem 0;
      background-color: rgba(0, 0, 0, 0.8);
      white-space: nowrap;
      transition: height 0.5s, line-height 0.5s; }
    #portfolio .tile div.overlay {
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 800;
      transition: background-color 0.5s; }
    #portfolio .tile p.tile-description {
      color: #000000;
      opacity: 0;
      z-index: 880;
      margin: auto;
      margin-top: 10rem;
      transition: opacity 0.5s, margin-top 0.5s;
      width: 75%;
      text-align: center;
      font-size: 1.2rem; }
    #portfolio .tile:hover .tile-description {
      opacity: 1;
      margin-top: 3rem; }
    #portfolio .tile:hover .tile-links {
      opacity: 1; }
    #portfolio .tile .tile-links {
      position: absolute;
      display: table;
      table-layout: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      #portfolio .tile .tile-links a {
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: 0.5rem;
        z-index: 890;
        color: transparent;
        transition: padding-bottom 0.3s, color 0.3s, background 0.3s; }
        #portfolio .tile .tile-links a i {
          display: block;
          font-size: 2rem;
          color: black;
          margin-top: 0.3rem; }
        #portfolio .tile .tile-links a:hover {
          background: rgba(255, 255, 255, 0.3);
          background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent, transparent);
          padding-bottom: 1.5rem;
          color: black; }
    #portfolio .tile.syntree {
      background-image: url("../resources/img/syntree.png"); }
      #portfolio .tile.syntree .overlay {
        background-color: rgba(247, 223, 30, 0.3); }
      #portfolio .tile.syntree:hover .overlay {
        background-color: #f7df1e; }
      #portfolio .tile.syntree a.repo-link:hover {
        color: #f7df1e; }
    #portfolio .tile.diviiportfolio {
      background-image: url("../resources/img/diviiportfolio.png"); }
      #portfolio .tile.diviiportfolio .overlay {
        background-color: rgba(21, 114, 182, 0.3); }
      #portfolio .tile.diviiportfolio:hover .overlay {
        background-color: #1572b6; }
      #portfolio .tile.diviiportfolio a.repo-link:hover {
        color: #1572b6; }
    #portfolio .tile.picam {
      background-image: url("../resources/img/syntree.png"); }
      #portfolio .tile.picam .overlay {
        background-color: rgba(199, 5, 61, 0.3); }
      #portfolio .tile.picam:hover .overlay {
        background-color: #c7053d; }
      #portfolio .tile.picam a.repo-link:hover {
        color: #c7053d; }
    #portfolio .tile.number-game {
      background-image: url("../resources/img/syntree.png"); }
      #portfolio .tile.number-game .overlay {
        background-color: rgba(255, 222, 87, 0.3); }
      #portfolio .tile.number-game:hover .overlay {
        background-color: #ffde57; }
      #portfolio .tile.number-game a.repo-link:hover {
        color: #ffde57; }

footer {
  background-color: lightgrey; }
