/* Mixins, keyframes, etc. */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotateWord {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  5% {
    opacity: 1;
    transform: translateY(0%); }
  21% {
    opacity: 1;
    transform: translateY(0%); }
  24% {
    opacity: 0; }
  26% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 0; } }

@keyframes rotateWord2 {
  0% {
    opacity: 0;
    transform: translateY(140%); }
  5% {
    opacity: 1;
    transform: translateY(40%); }
  21% {
    opacity: 1;
    transform: translateY(40%); }
  24% {
    opacity: 0; }
  26% {
    opacity: 0;
    transform: translateY(-40%); }
  100% {
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  outline-width: 0 !important;
  position: relative;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body, html {
  border: none;
  font-family: sans-serif;
  height: 100%; }

a {
  text-decoration: none; }

li {
  list-style: none; }

._3-col {
  width: 32%;
  display: inline-block; }

.screen {
  height: 100%;
  position: relative; }

.section-sep {
  position: absolute;
  top: 40rem;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  background-image: url("../skyline.jpg");
  background-size: contain; }

header {
  padding-top: 3rem;
  width: 100%;
  background-color: white;
  /* Follow text hover */ }
  @media (max-width: 1100px) {
    header div.column-second {
      display: none; }
    header div.wrapper-table div.column-first {
      text-align: center !important;
      width: 100% !important; } }
  header span.follow-text {
    position: absolute;
    height: 100%;
    top: 0;
    left: 2rem;
    z-index: 1000;
    opacity: 0;
    line-height: 9.3rem; }
  header div.wrapper-table {
    font-size: 0;
    /* to fix weird white space between inline-block children */
    /* Follow links */
    /* Word/phrase rotation lists */
    /* Main content */ }
    header div.wrapper-table a.follow {
      display: inline-block;
      width: 100%; }
      header div.wrapper-table a.follow:hover {
        background-color: #ededed; }
        header div.wrapper-table a.follow:hover span.main {
          opacity: 0; }
          header div.wrapper-table a.follow:hover span.main span {
            opacity: 0 !important; }
        header div.wrapper-table a.follow:hover span.follow-text {
          opacity: 1; }
    header div.wrapper-table div.column-second ul {
      display: inline-block;
      font-size: 0; }
      header div.wrapper-table div.column-second ul li {
        opacity: 0;
        position: absolute;
        bottom: -0.6rem;
        line-height: 4.3rem;
        font-size: 4.3rem; }
    header div.wrapper-table div {
      position: relative;
      opacity: 0;
      padding: 2rem;
      color: grey;
      text-transform: uppercase; }
      header div.wrapper-table div.column-first {
        float: left;
        clear: left;
        width: 40%;
        font-size: 5rem;
        font-family: 'Questrial', sans-serif;
        color: black;
        text-align: right;
        letter-spacing: 1rem; }
      header div.wrapper-table div.column-second {
        float: right;
        clear: right;
        width: 60%;
        font-family: 'Questrial', sans-serif;
        font-size: 4.3rem;
        line-height: 5rem;
        text-align: left; }
      header div.wrapper-table div.row-third.column-second ul {
        width: 100%;
        display: table; }
        header div.wrapper-table div.row-third.column-second ul li {
          display: table;
          top: 0.7rem;
          font-size: 2rem;
          line-height: 2rem; }
          header div.wrapper-table div.row-third.column-second ul li span {
            height: 4rem;
            display: table-cell;
            vertical-align: middle; }

/* Animations */
header div.wrapper-table {
  /* Animation vals */
  /* base delay for appearance animation */
  /* duration of fade in for col1 text */
  /* duration of fade in for col2 text */
  /* time between end of col1 text fadein and beginning of col2 fade in */
  /* time between end of col2 fade in and beginning of next col1 fade in */
  /* base delay for rotation animation */
  /* how long each rotated text should be visible */
  /* Base animation properties for fading in*/
  /* Rotating list animation */
  /* Fade in animation */ }
  header div.wrapper-table div {
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }
  header div.wrapper-table div.column-second ul li {
    animation: rotateWord 15s linear infinite 1400ms; }
  header div.wrapper-table div.column-second ul li:nth-child(1) {
    color: orange; }
  header div.wrapper-table div.column-second ul li:nth-child(2) {
    animation-delay: 4400ms;
    color: blue; }
  header div.wrapper-table div.column-second ul li:nth-child(3) {
    animation-delay: 7400ms;
    color: green; }
  header div.wrapper-table div.column-second ul li:nth-child(4) {
    animation-delay: 10400ms;
    color: lightblue; }
  header div.wrapper-table div.column-second ul li:nth-child(5) {
    animation-delay: 13400ms;
    color: yellow; }
  header div.wrapper-table div.row-third.column-second ul li {
    color: inherit;
    animation-name: rotateWord; }
  header div.wrapper-table div.column-second {
    animation-duration: 0.2s; }
  header div.wrapper-table div.column-first {
    animation-duration: 1s; }
  header div.wrapper-table div.row-first.column-first {
    animation-delay: 300ms; }
  header div.wrapper-table div.row-first.column-second {
    animation-delay: 1000ms; }
  header div.wrapper-table div.row-second.column-first {
    animation-delay: 2200ms; }
  header div.wrapper-table div.row-second.column-second {
    animation-delay: 2900ms; }
  header div.wrapper-table div.row-third.column-first {
    animation-delay: 4100ms; }
  header div.wrapper-table div.row-third.column-second {
    animation-delay: 4800ms; }

section {
  display: block;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 10rem; }

.section-title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 6rem;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.4rem; }

.section-content {
  width: 80%;
  margin-left: 10%;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif; }
  .section-content .content {
    white-space: pre-wrap; }

#about-me {
  background-color: #d6ebfa; }

#skillsets {
  background-color: #c3ffc3;
  text-align: center; }
  #skillsets .section-content {
    width: auto;
    margin: 0; }
  #skillsets .tile {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 3rem;
    width: 25rem; }
    #skillsets .tile .tile-title {
      text-align: center; }
      #skillsets .tile .tile-title:before {
        content: "";
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        height: 8rem;
        width: 100%;
        display: block;
        margin: 2rem 0; }
    #skillsets .tile ul {
      display: inline-block;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      text-align: left; }
      #skillsets .tile ul i {
        display: none; }
      #skillsets .tile ul li {
        margin-bottom: 1.5rem; }
    #skillsets .tile.languages .tile-title:before {
      background-image: url("../code.svg"); }
    #skillsets .tile.systems .tile-title:before {
      background-image: url("../framework.svg"); }
    #skillsets .tile.teamwork .tile-title:before {
      background-image: url("../team.svg"); }

#portfolio {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ededed; }
  #portfolio .tiles-wrapper {
    text-align: center; }
  #portfolio a.icon-link {
    margin-left: 5rem; }
    #portfolio a.icon-link:hover i {
      color: darkorange; }
  #portfolio a.tile-link {
    font-size: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; }
  #portfolio .tile {
    height: 300px;
    width: 300px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
    background-size: cover;
    background-position: top center;
    border-radius: 3px;
    border-top: 5px solid black;
    border-bottom: 5px solid black; }
    #portfolio .tile .tile-title {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      height: 300px;
      line-height: 300px;
      z-index: 900;
      font-size: 1.4rem;
      white-space: nowrap;
      transition: height 0.5s, line-height 0.5s; }
    #portfolio .tile div.overlay {
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 800;
      transition: background-color 0.5s; }
    #portfolio .tile p.tile-description {
      opacity: 0;
      z-index: 900;
      transition: opacity 0.5s;
      width: 75%;
      margin: auto;
      text-align: center; }
    #portfolio .tile:hover .tile-title {
      height: 100px;
      line-height: 100px; }
    #portfolio .tile:hover .tile-description {
      opacity: 1;
      font-size: 1.2rem; }
    #portfolio .tile.syntree {
      background-image: url("../syntree.png"); }
      #portfolio .tile.syntree .overlay {
        background-color: rgba(105, 255, 105, 0.2); }
      #portfolio .tile.syntree:hover .overlay {
        background-color: #69ff69; }
    #portfolio .tile.diviiportfolio {
      background-image: url("../diviiportfolio.png"); }
      #portfolio .tile.diviiportfolio .overlay {
        background-color: rgba(105, 105, 255, 0.2); }
      #portfolio .tile.diviiportfolio:hover .overlay {
        background-color: #6969ff; }
    #portfolio .tile.number-game {
      background-image: url("../syntree.png"); }
      #portfolio .tile.number-game .overlay {
        background-color: rgba(255, 105, 105, 0.2); }
      #portfolio .tile.number-game:hover .overlay {
        background-color: #ff6969; }

footer {
  background-color: lightgrey; }
