/* Mixins, keyframes, etc. */
/* Colors */
/*section base*/
/*mix*/
/*mix factor*/
/*mix factor step*/
/* Other mixins */
/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotateWord {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  5% {
    opacity: 1;
    transform: translateY(0%); }
  21% {
    opacity: 1;
    transform: translateY(0%); }
  24% {
    opacity: 0; }
  26% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 0; } }

@keyframes bounce {
  0% {
    transform: translateY(0%); }
  2% {
    transform: translateY(130%); }
  4% {
    transform: translateY(0%); }
  6% {
    transform: translateY(130%); }
  8% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

@keyframes slide-left {
  0% {
    margin-left: 0; }
  10% {
    margin-left: 1.1068rem; }
  20% {
    margin-left: 1.56525rem; }
  30% {
    margin-left: 1.91703rem; }
  40% {
    margin-left: 2.21359rem; }
  50% {
    margin-left: 2.47487rem; }
  60% {
    margin-left: 2.71109rem; }
  70% {
    margin-left: 2.92831rem; }
  80% {
    margin-left: 3.1305rem; }
  90% {
    margin-left: 3.32039rem; }
  100% {
    margin-left: 3.5rem; } }

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  outline-width: 0 !important; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body, html {
  border: none;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: #000000; }

li {
  list-style: none; }

.fa-github {
  width: 0.86em; }

.screen {
  position: relative;
  height: 100%;
  background: linear-gradient(#dde3f8, white); }
  .screen .section-sep {
    position: absolute;
    width: 100%;
    height: auto;
    top: 40rem;
    bottom: 0;
    background-image: url("../resources/img/forest.svg");
    background-size: contain;
    background-attachment: scroll;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running; }
    .screen .section-sep i {
      display: block;
      width: 10rem;
      margin: auto;
      margin-top: -3rem;
      text-align: center;
      font-size: 10rem;
      line-height: 1rem;
      color: #c2c2c2;
      transition: margin-top 0.3s;
      cursor: pointer;
      animation-name: bounce;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-delay: 5s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running; }
      .screen .section-sep i:hover {
        margin-top: -2rem; }

header {
  display: block;
  padding-top: 3rem;
  /* Follow hover-text */ }
  header span.follow-text {
    position: absolute;
    top: 0;
    left: 2rem;
    height: 100%;
    color: #000000;
    line-height: 9.3rem;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0s; }
  header div.wrapper-table {
    font-size: 0;
    /* to fix weird white space between inline-block children */
    /* Follow links (row-spanning links, click to go to relevant section)*/
    /* Word/phrase rotation lists */
    /* Main content */ }
    header div.wrapper-table a.follow {
      width: 100%;
      display: inline-block; }
      header div.wrapper-table a.follow:hover {
        background-color: rgba(255, 255, 255, 0.8); }
        header div.wrapper-table a.follow:hover span.main {
          opacity: 0; }
          header div.wrapper-table a.follow:hover span.main span {
            opacity: 0 !important; }
        header div.wrapper-table a.follow:hover span.follow-text {
          opacity: 1;
          transition: opacity 0.5s;
          animation-name: slide-left;
          animation-duration: 3s;
          animation-timing-function: linear;
          animation-delay: 100ms;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-play-state: running; }
    header div.wrapper-table div.column-second ul {
      display: inline-block; }
      header div.wrapper-table div.column-second ul li {
        position: absolute;
        bottom: -0.6rem;
        font-size: 4.3rem;
        line-height: 4.3rem;
        opacity: 0; }
    header div.wrapper-table div {
      position: relative;
      padding: 2rem;
      text-transform: uppercase;
      opacity: 0; }
      header div.wrapper-table div.column-first {
        float: left;
        clear: left;
        width: 45%;
        color: #000000;
        font-size: 5rem;
        font-family: 'Questrial', sans-serif;
        text-align: right;
        letter-spacing: 1.3rem; }
      header div.wrapper-table div.column-second {
        float: right;
        clear: right;
        width: 55%;
        color: #c2c2c2;
        font-size: 4.3rem;
        line-height: 5rem;
        font-family: 'Questrial', sans-serif;
        text-align: left; }
        header div.wrapper-table div.column-second span.main {
          transition: opacity 0.3s; }
      header div.wrapper-table div.row-third.column-second ul {
        display: table;
        width: 100%; }
        header div.wrapper-table div.row-third.column-second ul li {
          display: table;
          top: 0.7rem;
          font-size: 2rem;
          line-height: 2rem; }
          header div.wrapper-table div.row-third.column-second ul li span {
            display: table-cell;
            height: 4rem;
            vertical-align: middle;
            transition: opacity 0.5s; }

/* Animations */
header div.wrapper-table div {
  animation-name: fadeIn;
  animation-duration: 0s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running; }

header div.wrapper-table div.column-second ul li {
  animation-name: rotateWord;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-delay: 1400ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running; }

header div.wrapper-table div.column-second ul li:nth-child(1) {
  color: #f7df1e; }

header div.wrapper-table div.column-second ul li:nth-child(2) {
  animation-delay: 4400ms;
  color: #8892be; }

header div.wrapper-table div.column-second ul li:nth-child(3) {
  animation-delay: 7400ms;
  color: #ffde57; }

header div.wrapper-table div.column-second ul li:nth-child(4) {
  animation-delay: 10400ms;
  color: #e34c26; }

header div.wrapper-table div.column-second ul li:nth-child(5) {
  animation-delay: 13400ms;
  color: #1572b6; }

header div.wrapper-table div.row-third.column-second ul li {
  color: inherit; }

header div.wrapper-table div.column-second {
  animation-duration: 0.2s; }

header div.wrapper-table div.column-first {
  animation-duration: 1s; }

header div.wrapper-table div.row-first.column-first {
  animation-delay: 300ms; }

header div.wrapper-table div.row-first.column-second {
  animation-delay: 1000ms; }

header div.wrapper-table div.row-second.column-first {
  animation-delay: 2200ms; }

header div.wrapper-table div.row-second.column-second {
  animation-delay: 2900ms; }

header div.wrapper-table div.row-third.column-first {
  animation-delay: 4100ms; }

header div.wrapper-table div.row-third.column-second {
  animation-delay: 4800ms; }

#about-me .content {
  line-height: 2rem; }

#about-me .resume-download-wrapper {
  position: absolute;
  top: 2rem;
  left: 2rem;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 7px; }
  #about-me .resume-download-wrapper:hover {
    background-color: #000000; }
    #about-me .resume-download-wrapper:hover ul {
      height: 6.5rem;
      padding: 0.3rem 0; }
    #about-me .resume-download-wrapper:hover a.resume-download {
      background-color: #404040;
      color: #ffffff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px; }
  #about-me .resume-download-wrapper a.resume-download {
    display: inline-block;
    width: 13rem;
    padding: 0.7rem 0;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 100;
    transition: background-color 0.3s, color 0.3s; }
  #about-me .resume-download-wrapper ul {
    position: relative;
    width: 13rem;
    height: 0px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    z-index: 100;
    transition: height 0.3s; }
    #about-me .resume-download-wrapper ul li {
      position: relative;
      transition: background-color 0.5s;
      width: 100%;
      height: 3rem; }
      #about-me .resume-download-wrapper ul li a {
        color: #ffffff;
        position: absolute;
        line-height: 3rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        letter-spacing: 0.1rem;
        font-size: 0.9rem;
        font-weight: 200;
        text-transform: uppercase;
        transition: padding-left 0.3s; }
      #about-me .resume-download-wrapper ul li:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: "92.2505, 117.92675, 208.6495";
        background-color: #5c76d1;
        border-radius: 1px;
        transition: width 0.3s; }
      #about-me .resume-download-wrapper ul li:hover {
        background-color: #1a1a1a; }
        #about-me .resume-download-wrapper ul li:hover a {
          padding-left: 1.8rem; }
        #about-me .resume-download-wrapper ul li:hover:before {
          width: 0.8rem; }

#skillsets .section-content {
  width: auto;
  margin: 0;
  text-align: center; }

#skillsets .tile {
  display: inline-block;
  width: 25rem;
  vertical-align: top;
  padding: 1rem 3rem; }
  #skillsets .tile > i {
    font-size: 10rem;
    margin-bottom: 3rem; }
  #skillsets .tile .tile-title {
    text-align: center; }
  #skillsets .tile ul {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: left; }
    #skillsets .tile ul i {
      color: #000000;
      margin-right: 1rem; }
      #skillsets .tile ul i.blank {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 3px;
        background-color: black;
        border-radius: 5px; }
    #skillsets .tile ul li {
      padding: 1rem 0.5rem; }
      #skillsets .tile ul li:hover {
        background-color: #a7d4e4; }
        #skillsets .tile ul li:hover i {
          color: inherit; }

#portfolio {
  padding-left: 1rem;
  padding-right: 1rem; }
  #portfolio .tiles-wrapper {
    text-align: center; }
  #portfolio a.icon-link {
    margin-left: 5rem; }
    #portfolio a.icon-link:hover i {
      color: #6cc644; }
  #portfolio .tile {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 300px;
    margin: 1rem;
    vertical-align: top;
    background-size: cover;
    background-position: top center;
    border-bottom: 1rem solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: #ffffff; }
    #portfolio .tile .tile-title {
      z-index: 900;
      padding: 0.5rem 0;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 1.4rem;
      background-color: rgba(0, 0, 0, 0.8);
      white-space: nowrap; }
    #portfolio .tile div.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 800;
      transition: background-color 0.5s; }
    #portfolio .tile p.tile-description {
      color: #000000;
      opacity: 0;
      z-index: 880;
      margin: auto;
      margin-top: 10rem;
      transition: opacity 0.5s, margin-top 0.5s;
      width: 75%;
      text-align: center;
      font-size: 1.2rem; }
    #portfolio .tile:hover .tile-description {
      opacity: 1;
      margin-top: 3rem; }
    #portfolio .tile:hover .tile-links {
      opacity: 1; }
    #portfolio .tile .tile-links {
      display: table;
      position: absolute;
      table-layout: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      #portfolio .tile .tile-links a {
        display: table-cell;
        z-index: 910;
        vertical-align: bottom;
        padding-bottom: 0.5rem;
        color: transparent;
        text-align: center;
        font-size: 1rem;
        transition: padding-bottom 0.3s, color 0.3s, background 0.3s; }
        #portfolio .tile .tile-links a i {
          font-size: 2rem;
          color: #000000;
          margin-top: 0.3rem; }
        #portfolio .tile .tile-links a:hover {
          background: rgba(255, 255, 255, 0.3);
          background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent, transparent);
          padding-bottom: 1.5rem;
          color: black; }
    #portfolio .tile.syntree {
      background-image: url("../resources/img/syntree.png"); }
      #portfolio .tile.syntree .overlay {
        background-color: rgba(247, 223, 30, 0.3); }
      #portfolio .tile.syntree:hover .overlay {
        background-color: #f7df1e; }
      #portfolio .tile.syntree a.repo-link:hover {
        color: #f7df1e; }
    #portfolio .tile.diviiportfolio {
      background-image: url("../resources/img/diviiportfolio.png"); }
      #portfolio .tile.diviiportfolio .overlay {
        background-color: rgba(21, 114, 182, 0.3); }
      #portfolio .tile.diviiportfolio:hover .overlay {
        background-color: #1572b6; }
      #portfolio .tile.diviiportfolio a.repo-link:hover {
        color: #1572b6; }
    #portfolio .tile.picam {
      background-image: url("../resources/img/syntree.png"); }
      #portfolio .tile.picam .overlay {
        background-color: rgba(199, 5, 61, 0.3); }
      #portfolio .tile.picam:hover .overlay {
        background-color: #c7053d; }
      #portfolio .tile.picam a.repo-link:hover {
        color: #c7053d; }
    #portfolio .tile.number-game {
      background-image: url("../resources/img/syntree.png"); }
      #portfolio .tile.number-game .overlay {
        background-color: rgba(255, 222, 87, 0.3); }
      #portfolio .tile.number-game:hover .overlay {
        background-color: #ffde57; }
      #portfolio .tile.number-game a.repo-link:hover {
        color: #ffde57; }

.section-sep {
  display: block;
  height: 20rem;
  background-attachment: fixed;
  background-size: cover; }
  .section-sep:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .section-sep.second {
    background-image: url("../resources/img/leaves.jpg"); }
    .section-sep.second:before {
      background-color: rgba(170, 185, 238, 0.1); }
  .section-sep.third {
    background-image: url("../resources/img/trunk.jpeg"); }
    .section-sep.third:before {
      background-color: rgba(71, 149, 177, 0.3); }

section {
  display: block;
  padding-top: 6rem;
  padding-bottom: 10rem; }
  section.section-1 {
    background-color: #aab9ee; }
  section.section-2 {
    background-color: #88c5db; }
  section.section-3 {
    background-color: #77cad2; }

.section-title {
  margin-bottom: 6rem;
  margin-top: 0;
  font-size: 3.5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 0.4rem; }

.section-content {
  width: 80%;
  margin-left: 10%;
  font-size: 1.3rem; }
  .section-content .content {
    white-space: pre-wrap; }

footer {
  position: relative;
  height: 5rem;
  background-color: #000000; }
  footer .picture-attribution {
    float: right;
    margin: 1rem;
    color: #ffffff; }
  footer .profile-link {
    margin: 1rem;
    display: inline-block;
    vertical-align: middle; }
    footer .profile-link i {
      font-size: 3rem;
      color: #ffffff; }
    footer .profile-link.github:hover i {
      color: #6cc644; }
    footer .profile-link.linkedin:hover i {
      color: #0077b5; }
