* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none !important;
	outline-width: 0 !important;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body, html {
	border: none;
	height: 100%; // required for header
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: color(link);
}

li {
	list-style: none;
}
