* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none !important;
	outline-width: 0 !important;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

html {
	overflow-x: hidden;
}

body, html {
	border: none;
	height: 100%; // required for header
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: color(shade-darkest); // the color 'link' is for actual link links; since most links are not inline, underliny type links, it makes more sense to have the default be the text color
}

li {
	list-style: none;
}

// Fixing Fontawesome icons

.fa-github {
	width: 0.86em;
}
