footer {
  position: relative;
  min-height: 5rem;
  background-color: color(shade-darkest);
  text-align: center;

  .profile-link {
    margin: 1rem;
    display: inline-block;
    vertical-align: middle;

    i {
      font-size: 3rem;
      color: color(text-lightest);
    }

    &.github:hover i {
      color: color(github);
    }

    &.linkedin:hover i {
      color: color(linkedin);
    }
  }

  @media screen and (max-width: bk(s)) {
    text-align: center;

    .picture-attribution {
      display: block;
      float: none;
      text-align: center;
      margin: 0;
    }
  }
}
