$col1-fs: 5rem;
$col2-fs: 4.3rem;

.screen {
	height: 100%;
	position: relative;
}

.section-sep {
	position: absolute;
	top: 40rem;
	bottom: 0 !important;
	left: 0;
	width: 100%;
	background-image: url("../skyline.jpg");
	background-size: contain;
}

header {
	padding-top: 3rem;
	width: 100%;
	background-color: white;

	@media (max-width: 1100px) {
		div.column-second {
			display: none;
		}

		div.wrapper-table div.column-first {
			text-align: center !important;
			width: 100% !important;
		}
	}

	/* Follow text hover */
	span.follow-text {
		position: absolute;
		// width: 100%;
		height: 100%;
		top: 0;
		left: 2rem;
		z-index: 1000;
		opacity: 0;
		line-height: 9.3rem;
		// background-color: #ededed;
	}

	div.wrapper-table {
		font-size: 0; /* to fix weird white space between inline-block children */

		/* Follow links */

		a.follow {
			display: inline-block;
			width: 100%;

			&:hover {
				background-color: #ededed;

				span.main {
					opacity: 0;

					span {
						opacity: 0 !important;
					}
				}

				span.follow-text {
					opacity: 1;
				}
			}
		}

		/* Word/phrase rotation lists */

		div.column-second ul {
			display: inline-block;
			font-size: 0;

			li {
				opacity: 0;
				position: absolute;
				bottom: -0.6rem;
				line-height: $col2-fs;
				font-size: $col2-fs;
			}
		}

		/* Main content */

		div {
			position: relative;
			opacity: 0;
			padding: 2rem;
			color: grey;
			text-transform: uppercase;

			&.column-first {
				float: left;
				clear: left;
				width: 40%;
				font-size: $col1-fs;
				font-family: 'Questrial', sans-serif;
				color: black;
				text-align: right;
				letter-spacing: 1rem;
			}

			&.column-second {
				float: right;
				clear: right;
				width: 60%;
				font-family: 'Questrial', sans-serif;
				font-size: $col2-fs;
				line-height: $col1-fs;
				text-align: left;
			}

			&.row-third.column-second ul {
				width: 100%;
				display: table;

				li {
					display: table;
					top: 0.7rem;
					font-size: 2rem;
					line-height: 2rem;

						span {
							height: 4rem;
							display: table-cell;
							vertical-align: middle;
						}
				}
			}
		}
	}
}
/* Animations */

header div.wrapper-table {

		/* Animation vals */
		$base1: 300ms; /* base delay for appearance animation */
		$d1: 1s; /* duration of fade in for col1 text */
		$d2: 0.2s; /* duration of fade in for col2 text */
		$g1: -0.3s; /* time between end of col1 text fadein and beginning of col2 fade in */
		$g2: 1s; /* time between end of col2 fade in and beginning of next col1 fade in */

		$base2: $base1 + $d1 + $g1 + $d2 + $g2 + $d1 + $g1 - 1.5s; /* base delay for rotation animation */
		$per: 3s; /* how long each rotated text should be visible */

		/* Base animation properties for fading in*/
		div {
			animation-name: fadeIn;
			animation-timing-function: linear;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}

		/* Rotating list animation */
		div.column-second ul {
			li {
				animation: rotateWord $per*5 linear infinite $base2;
			}

			li:nth-child(1) {
				color: orange;
			}

			li:nth-child(2) {
				animation-delay: $base2+$per*1;
				color: blue;
			}
			li:nth-child(3) {
				animation-delay: $base2+$per*2;
				color: green;
			}
			li:nth-child(4) {
				animation-delay: $base2+$per*3;
				color: lightblue;
			}
			li:nth-child(5) {
				animation-delay: $base2+$per*4;
				color: yellow;
			}
		}

		div.row-third.column-second ul li {
			color: inherit;
			animation-name: rotateWord;
		}

		/* Fade in animation */
		div {
			&.column-second {
				animation-duration: $d2;
			}

			&.column-first {
				animation-duration: $d1;
			}

			&.row-first.column-first {
				animation-delay: $base1;
			}
			&.row-first.column-second {
				animation-delay: $base1+$d1+$g1;
			}
			&.row-second.column-first {
				animation-delay: $base1+$d1+$g1+$d2+$g2;
			}
			&.row-second.column-second {
				animation-delay: $base1+$d1+$g1+$d2+$g2+$d1+$g1;
			}
			&.row-third.column-first {
				animation-delay: $base1+$d1+$g1+$d2+$g2+$d1+$g1+$d2+$g2;
			}
			&.row-third.column-second {
				animation-delay: $base1+$d1+$g1+$d2+$g2+$d1+$g1+$d2+$g2+$d1+$g1;
			}
		}
	}
