@mixin background-image ($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Normalize */

* {
	margin: 0;
	padding: 0;
	outline: none !important;
	outline-width: 0 !important;
	position: relative;
	box-sizing: border-box;
}

h1 {
	margin: 0 !important;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body, html {
	border: none;
	font-family: sans-serif;
}

section {
	display: block;	
	width: 100%;
	border-bottom: 1px solid black;

	@extend .clearfix;
}

.title_section {
	font-variant: small-caps;
	font-size: 2.5rem;
}


.section_title {
	background-color: lightgreen;
	height: 20rem;

	.subsection_left {
		float: none;
		height: 100%;
		width: 100%;
	
		.img {
			@include background-image("../me.jpg");
			background-position: left -100px;
			height: 100%;
			width: 100%;
		}
	}

	.subsection_right {
		position: absolute;
		bottom: 0;
		right: 0;

		.title_main {
			font-size: 5rem;
			letter-spacing: 0.5rem;
			text-transform: uppercase;
		}
	}
}

.content_section {
	font-size: 1.5rem;
	line-height: 2rem;
	white-space: pre-line;
}

.section_about {
	background-color: #91c5ff;
}

.subsection {
	display: block;

	&_left {
		float: left;
	}

	&_right {
		float: right;
	}
}

.section:not(.section_title) {
	.subsection_left {
		padding: 1rem;
		width: 25%;
		text-align: center;		
	}

	.subsection_right {
		width: 75%;
		padding: 2rem 4rem;
	}
}