@mixin background-image ($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Normalize */

* {
	margin: 0;
	padding: 0;
	outline: none !important;
	outline-width: 0 !important;
	position: relative;
	box-sizing: border-box;
}

h1 {
	margin: 0 !important;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body, html {
	border: none;
	font-family: sans-serif;
}

header {
	width: 100%;

	table {
		border-collapse: collapse;
		width: 100%;
	}

}
