/* Mixins, keyframes, etc. */

@mixin background-image ($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes rotateWord {
	0% { opacity: 0; transform: translateY(100%) }
	5% { opacity: 1; transform: translateY(0%) }
	21% { opacity: 1; transform: translateY(0%) }
	24% { opacity: 0 }
	26% { opacity: 0; transform: translateY(-100%) }
	100% {opacity: 0 }
}

@keyframes rotateWord2 {
	0% { opacity: 0; transform: translateY(140%) }
	5% { opacity: 1; transform: translateY(40%) }
	21% { opacity: 1; transform: translateY(40%) }
	24% { opacity: 0 }
	26% { opacity: 0; transform: translateY(-40%) }
	100% {opacity: 0 }
}
