#portfolio {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: color(section-3);
	color: color(text-darkest);

	.tiles-wrapper {
		text-align: center;
	}

	a.icon-link {
		margin-left: 5rem;

		i {
			color: color(text-darkest);
		}

		&:hover i {
			color: color(section-3-accent);
		}
	}

	$tileH: 300px;
	$tileW: 300px;
	$hovt: 0.5s;

	.tile {
		height: $tileH;
		width: $tileW;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 1rem;
		background-size: cover;
		background-position: top center;
		border-radius: 3px;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		color: color(shade-lightest);

		.tile-title {
			text-align: center;
			font-family: 'Raleway', sans-serif;
			z-index: 900;
			font-size: 1.4rem;
			padding: 0.5rem 0;
			background-color: color-alpha(shade-darkest, thick);
			white-space: nowrap;
			transition: height $hovt, line-height $hovt;
		}

		div.overlay {
			border-radius: 3px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 800;
			transition: background-color $hovt;
		}

		p.tile-description {
			color: color(shade-darkest);
			opacity: 0;
			z-index: 880;
			margin:auto;
			margin-top: 10rem;
			transition: opacity $hovt, margin-top $hovt;
			width: 75%;
			text-align: center;
			font-size: 1.2rem;
		}

		&:hover {
			.tile-description {
				opacity: 1;
				margin-top: 3rem;
			}

			.tile-links {
				opacity: 1;
			}
		}

		.tile-links {
			position: absolute;
			display: table;
			table-layout: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			// transition: opacity 0.3s;

			a {
				display: table-cell;
				vertical-align: bottom;
				padding-bottom: 0.5rem;
				z-index: 910;
				color: transparent;
				transition: padding-bottom 0.3s, color 0.3s, background 0.3s;

				i {
					display: block;
					font-size: 2rem;
					color: black;
					margin-top: 0.3rem;
				}

				&:hover {
					background: color-alpha('white',  thin);
					background: linear-gradient(to top, color-alpha('white',  thin), transparent, transparent);
					padding-bottom: 1.5rem;
					color: black;
				}
			}
		}

		@include portfolio-tile('syntree', 'javascript', 'syntree.png');
		@include portfolio-tile('diviiportfolio', 'css', 'diviiportfolio.png');
		@include portfolio-tile('picam', 'ras-pi', 'syntree.png');
		@include portfolio-tile('number-game', 'python', 'syntree.png');
	}
}
