#section_skillsets  {

	.section-content {
		width: auto;
		margin: 0;
		text-align: center;
	}

	.tile {
		display: inline-block;
		width: 25rem;
		vertical-align: top;
		padding: 1rem 3rem;

		@media screen and (max-width: bk(m)) {
			margin: 3rem 0;
			width: 100%;

			& > i {
				margin-bottom: 1rem !important;
			}

			// ul li {
			// 	max-width: 48%;
			// 	min-width: 10rem;
			// 	// padding-left: 2rem !important;
			// 	display: inline-block;
			// }
		}

		& > i { // Main icon
			font-size: 10rem;
			margin-bottom: 3rem;
		}

		.tile-title {
			text-align: center;
		}

		ul {
			display: inline-block;
			margin-top: 1.5rem;
			font-size: 1.5rem;
			text-align: left;

			i { // Sub icons for each skill
				color: color(shade-darkest);
				margin-right: 1rem;

				&.blank { // A placeholder for skills that have no icon
					display: inline-block;
					vertical-align: middle;
					width: 1em;
					height: 3px;
					background-color: black;
					border-radius: 5px;
				}
			}

			li {
				padding: 1rem 0.5rem;
				white-space: nowrap;

				&:hover {
					background-color: lighten(color(section-2), 8);

					i {
						color: inherit;
					}
				}
			}
		}
	}
}
