#section_portfolio {
	padding-left: 1rem;
	padding-right: 1rem;

	.full-portfolio-link-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 3rem;
		margin-top: 3rem;
		z-index: 1000;
		font-weight: bold;
		font-size: 1.3rem;

		a:hover {
			text-decoration: underline;
		}

		@media screen and (max-width: bk(m)){
			position: relative;
			margin: 0;
			text-align: center;
		}
	}

	.section-content {
		width: 100%;
		margin-left: 0;
	}

	.tiles-wrapper {
		text-align: center;
	}

	a.icon-link {
		margin-left: 5rem;

		&:hover {
			// background-color: color-alpha(shade-lightest, thin);

			i {
				color: color(github);
			}
		}
	}

	$tileH: 300px;
	$tileW: 300px;
	$hovt: 0.5s; // hover transition time

	.tile {
		display: inline-block;
		position: relative;
		height: $tileH;
		width: $tileW;
		margin: 1rem;
		vertical-align: top;
		background-size: cover;
		background-position: top center;
		border-bottom: 1rem solid color-alpha(shade-darkest, thick);
		border-radius: 3px;
		color: color(shade-lightest);
		transition: border-bottom-color $hovt;

		.tile-title {
			z-index: 900;
			padding: 0.5rem 0;
			text-align: center;
			font-family: 'Raleway', sans-serif;
			font-size: 1.4rem;
			background-color: color-alpha(shade-darkest, thick);
			white-space: nowrap;
			transition: background-color $hovt;
		}

		div.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 800;
			transition: background-color $hovt;
		}

		p.tile-description {
			color: color(shade-darkest);
			opacity: 0;
			z-index: 880;
			margin:auto;
			margin-top: 10rem;
			transition: opacity $hovt, margin-top $hovt;
			width: 75%;
			text-align: center;
			font-size: 1.2rem;
		}

		&:hover {
			border-bottom-color: color(shade-darkest);

			.tile-title {
				background-color: color(shade-darkest);
			}

			.tile-description {
				opacity: 1;
				margin-top: 3rem;
			}

			.tile-links {
				opacity: 1;
			}
		}

		.tile-links {
			display: table;
			position: absolute;
			table-layout: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;

			a {
				display: table-cell;
				z-index: 910;
				vertical-align: bottom;
				padding-bottom: 0.5rem;
				color: transparent;
				text-align: center;
				font-size: 1rem;
				transition: padding-bottom 0.3s, color 0.3s, background 0.3s;

				&[href=""] {
					display: none;
				}

				i {
					font-size: 2rem;
					color: color(text-darkest); // Required to override link text hiding
					margin-top: 0.3rem;
					}

				&:hover {
					background: color-alpha('white',  thin);
					background: linear-gradient(to top, color-alpha('white',  thin), transparent, transparent);
					padding-bottom: 1.5rem;
					color: black;
				}
			}
		}

		@include portfolio-tile('syntree', 'javascript', 'syntree_tile.png');
		@include portfolio-tile('diviiportfolio', 'css', 'diviiportfolio_tile.png');
		@include portfolio-tile('picam', 'ras-pi', 'picam_tile.png');
		@include portfolio-tile('monkeys', 'python', 'monkeys_tile.png');
		@include portfolio-tile('gkp', 'drupal', 'monkeys_tile.png');

		&.monkeys .tile-title {
			font-size: 1.2rem;
		}
	}

	@media screen and (max-width: bk(m)) {
		padding-left: 0;
		padding-right: 0;

		.section-content {
			width: 100%;
			margin: 0;

			.tile {
				margin: 0;
				width: 100%;
				margin-bottom: 17rem;

				&:hover .overlay {
					background-color: transparent;
				}

				p.tile-description {
					width: auto;
					margin: 0;
					margin-top: 240px;
					padding-top: 40px;
					padding-bottom: 40px;
					opacity: 1;
					color: color(text-lightest);
					background-color: color(shade-darkest);
				}

				.tile-links {
					background-color: color(shade-darkest);
					position: relative;
					height: 5rem;
					opacity: 1;

					a {
						color: color(text-lightest);

						i {
							color: color(text-lightest);
						}

						&:hover {
							background: color-alpha(shade-lightest, thin);
							padding-bottom: 0.5rem;
						}
					}
				}
			}
		}

		.section-title {
			word-spacing: bk(m);

			a.icon-link {
				margin-left: 0;
			}
		}
	}
}
