section {
	display: block;
	overflow: hidden;
	padding-top: 6rem;
	padding-bottom: 10rem;
}

.section-title {
	text-align: center;
	font-size: 3.5rem;
	margin-bottom: 6rem;
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.4rem;
}

.section-content {
	width: 80%;
	margin-left: 10%;
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;

	.content {
		white-space: pre-wrap;
	}
}

.section-sep.second {
	position: relative;
	top: 0;
	height: 20rem;
	width: 100%;
	background-image: url("../resources/img/leaves.jpg");
	background-attachment: fixed;
	background-size: cover;
	opacity: 1;
	display: block;
	animation: none;

	&.third {
		background-image: url("../resources/img/trunk.jpeg");

		&:before {
			background-color: color-alpha(section-2-accent, thin);
		}
	}

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: color-alpha(section-1, thin);
	}
}

#about-me {
	background-color: color(section-1);

	.resume-download-wrapper {
		position: absolute;
		top: 2rem;
		left: 2rem;
		min-width: 13rem;
		border: 3px solid black;
		border-radius: 7px;
		overflow: hidden;

		&:hover {
			background-color: color(shade-darkest);

			ul {
				height: 6.5rem;
				padding: 0.3rem 0;
			}

			.resume-download {
				background-color: color(shade-darker);
				color: color(shade-lightest);
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}

		.resume-download {
			display: inline-block;
			white-space: pre;
			padding: 0.7rem 0;
			width: 13rem;
			text-align: center;
			font-size: 1.3rem;
			text-transform: uppercase;
			letter-spacing: 0.3rem;
			font-weight: 600;
			z-index: 100;
			transition: background-color 0.3s, color 0.3s;
		}

		ul {
			height: 0px;
			background-color: color(shade-darkest);
			color: color(shade-lightest);
			position: relative;
			border-radius: 5px;
			width: 13rem;
			z-index: 100;
			transition: height 0.3s;

			li {
				position: relative;
				transition: background-color 0.5s;
				width: 100%;
				height: 3rem;

				a {
					color: color(shade-lightest);
					position: absolute;
					line-height: 3rem;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 0 1rem;
					letter-spacing: 0.1rem;
					font-size: 0.9rem;
					font-weight: 200;
					text-transform: uppercase;
					transition: padding-left 0.3s;
				}

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 0;
					background-color: '#{(red(color(section-1-accent)))}, #{(green(color(section-1-accent)))}, #{(blue(color(section-1-accent)))}';
					background-color: color(section-1-accent);
					border-radius: 1px;
					transition: width 0.3s;
				}

				&:hover {
					background-color: mix(white, color(shade-darkest), 10%);

					a {
						padding-left: 1.8rem;
					}

					&:before {
						width: 0.8rem;
					}
				}
			}
		}
	}
}

#skillsets  {
	background-color: color(section-2);
	text-align: center;

	.section-content {
		width: auto;
		margin: 0;
	}

	.tile {
		display: inline-block;
		vertical-align: top;
		padding: 1rem 3rem;
		width: 25rem;

		& > i {
			font-size: 10rem;
			margin-bottom: 3rem;
		}

		.tile-title {
			text-align: center;
		}

		ul {
			display: inline-block;
			font-size: 1.5rem;
			margin-top: 1.5rem;
			text-align: left;

			i {
				color: color(shade-darkest);
				margin-right: 1rem;
			}

			li {
				padding: 1rem 0.5rem;

				&:before {
					// content:"\2014\a0";
				}

				&:hover {
					background-color: lighten(color(section-2), 8);

					i {
						color: inherit;
					}
				}
			}
		}
	}
}

#portfolio {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: color(section-3);
	color: color(text-darkest);

	.tiles-wrapper {
		text-align: center;
	}

	a.icon-link {
		margin-left: 5rem;

		i {
			color: color(text-darkest);
		}

		&:hover i {
			color: color(section-3-accent);
		}
	}

	$tileH: 300px;
	$tileW: 300px;
	$hovt: 0.5s;

	.tile {
		height: $tileH;
		width: $tileW;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 1rem;
		background-size: cover;
		background-position: top center;
		border-radius: 3px;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		color: color(shade-lightest);

		.tile-title {
			text-align: center;
			font-family: 'Raleway', sans-serif;
			z-index: 900;
			font-size: 1.4rem;
			padding: 0.5rem 0;
			background-color: color-alpha(shade-darkest, thick);
			white-space: nowrap;
			transition: height $hovt, line-height $hovt;
		}

		div.overlay {
			border-radius: 3px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 800;
			transition: background-color $hovt;
		}

		p.tile-description {
			color: color(shade-darkest);
			opacity: 0;
			z-index: 880;
			margin:auto;
			margin-top: 10rem;
			transition: opacity $hovt, margin-top $hovt;
			width: 75%;
			text-align: center;
			font-size: 1.2rem;
		}

		&:hover {
			.tile-description {
				opacity: 1;
				margin-top: 3rem;
			}

			.tile-links {
				opacity: 1;
			}
		}

		.tile-links {
			position: absolute;
			display: table;
			table-layout: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			// transition: opacity 0.3s;

			a {
				display: table-cell;
				vertical-align: bottom;
				padding-bottom: 0.5rem;
				z-index: 890;
				color: transparent;
				transition: padding-bottom 0.3s, color 0.3s, background 0.3s;

				i {
					display: block;
					font-size: 2rem;
					color: black;
					margin-top: 0.3rem;
				}

				&:hover {
					background: color-alpha('white',  thin);
					background: linear-gradient(to top, color-alpha('white',  thin), transparent, transparent);
					padding-bottom: 1.5rem;
					color: black;
				}
			}
		}

		@include portfolio-tile('syntree', 'javascript', 'syntree.png');
		@include portfolio-tile('diviiportfolio', 'css', 'diviiportfolio.png');
		@include portfolio-tile('picam', 'ras-pi', 'syntree.png');
		@include portfolio-tile('number-game', 'python', 'syntree.png');
	}
}
